name: CI/CD

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  quality:
    name: Quality Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 3.9
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .[dev]

      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 src/bsort --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 src/bsort --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

      - name: Check formatting with black
        run: black --check src/bsort tests

      - name: Check imports with isort
        run: isort --check-only src/bsort tests

      - name: Lint with pylint
        run: pylint src/bsort

      - name: Test with pytest
        run: |
          pytest

  docker:
    name: Docker Build
    runs-on: ubuntu-latest
    needs: quality
    steps:
      - uses: actions/checkout@v3

      - name: Build Docker image
        run: docker build . -t bsort:latest
